files/flow.xml
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<flowController encoding-version="1.4">
  <maxTimerDrivenThreadCount>10</maxTimerDrivenThreadCount>
  <maxEventDrivenThreadCount>1</maxEventDrivenThreadCount>
  <registries/>
  <parameterContexts/>
  <rootGroup>
    <id>ba80d3b9-017d-1000-d9cd-339f5064eb09</id>
    <name>NiFi Flow</name>
    <position x="0.0" y="0.0"/>
    <comment/>
    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
    <processGroup>
      <id>bf6eb294-017d-1000-3acd-d11226551441</id>
      <name>StreamTweetsToHBase</name>
      <position x="-136.0" y="-184.0"/>
      <comment/>
      <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
      <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
      <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
      <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
      <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
      <processor>
        <id>ecba5650-017d-1000-18ae-088ff9de9a7e</id>
        <name>AttributesToJSON</name>
        <position x="528.0" y="688.0"/>
        <styles/>
        <comment/>
        <class>org.apache.nifi.processors.standard.AttributesToJSON</class>
        <bundle>
          <group>org.apache.nifi</group>
          <artifact>nifi-standard-nar</artifact>
          <version>1.14.0</version>
        </bundle>
        <maxConcurrentTasks>1</maxConcurrentTasks>
        <schedulingPeriod>1 sec</schedulingPeriod>
        <penalizationPeriod>30 sec</penalizationPeriod>
        <yieldPeriod>1 sec</yieldPeriod>
        <bulletinLevel>WARN</bulletinLevel>
        <lossTolerant>false</lossTolerant>
        <scheduledState>STOPPED</scheduledState>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <executionNode>ALL</executionNode>
        <runDurationNanos>0</runDurationNanos>
        <property>
          <name>Attributes List</name>
          <value>twitter.msg, twitter.tweet_id, twitter.unixtime, twitter.sentiment</value>
        </property>
        <property>
          <name>attributes-to-json-regex</name>
        </property>
        <property>
          <name>Destination</name>
          <value>flowfile-content</value>
        </property>
        <property>
          <name>Include Core Attributes</name>
          <value>true</value>
        </property>
        <property>
          <name>Null Value</name>
          <value>false</value>
        </property>
        <autoTerminatedRelationship>failure</autoTerminatedRelationship>
      </processor>
      <processor>
        <id>c8db6d4f-017d-1000-0dfb-afc64607fb4d</id>
        <name>PutHBaseJSON</name>
        <position x="528.0" y="1168.0"/>
        <styles/>
        <comment/>
        <class>org.apache.nifi.hbase.PutHBaseJSON</class>
        <bundle>
          <group>org.apache.nifi</group>
          <artifact>nifi-hbase-nar</artifact>
          <version>1.14.0</version>
        </bundle>
        <maxConcurrentTasks>1</maxConcurrentTasks>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <penalizationPeriod>30 sec</penalizationPeriod>
        <yieldPeriod>1 sec</yieldPeriod>
        <bulletinLevel>WARN</bulletinLevel>
        <lossTolerant>false</lossTolerant>
        <scheduledState>STOPPED</scheduledState>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <executionNode>ALL</executionNode>
        <runDurationNanos>0</runDurationNanos>
        <property>
          <name>HBase Client Service</name>
          <value>c8bc8eae-017d-1000-ef6e-05925047a9d7</value>
        </property>
        <property>
          <name>Table Name</name>
          <value>tweets_sentiment</value>
        </property>
        <property>
          <name>Row Identifier</name>
        </property>
        <property>
          <name>Row Identifier Field Name</name>
          <value>twitter.unixtime</value>
        </property>
        <property>
          <name>Row Identifier Encoding Strategy</name>
          <value>String</value>
        </property>
        <property>
          <name>Column Family</name>
          <value>social_media_sentiment</value>
        </property>
        <property>
          <name>timestamp</name>
        </property>
        <property>
          <name>Batch Size</name>
          <value>25</value>
        </property>
        <property>
          <name>Complex Field Strategy</name>
          <value>Text</value>
        </property>
        <property>
          <name>Field Encoding Strategy</name>
          <value>String</value>
        </property>
        <autoTerminatedRelationship>success</autoTerminatedRelationship>
        <autoTerminatedRelationship>failure</autoTerminatedRelationship>
      </processor>
      <processor>
        <id>d4411704-017d-1000-cf50-614bffd92e4d</id>
        <name>ConsumeKafka_2_0</name>
        <position x="528.0" y="152.0"/>
        <styles/>
        <comment/>
        <class>org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_2_0</class>
        <bundle>
          <group>org.apache.nifi</group>
          <artifact>nifi-kafka-2-0-nar</artifact>
          <version>1.14.0</version>
        </bundle>
        <maxConcurrentTasks>1</maxConcurrentTasks>
        <schedulingPeriod>1 sec</schedulingPeriod>
        <penalizationPeriod>30 sec</penalizationPeriod>
        <yieldPeriod>1 sec</yieldPeriod>
        <bulletinLevel>WARN</bulletinLevel>
        <lossTolerant>false</lossTolerant>
        <scheduledState>STOPPED</scheduledState>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <executionNode>ALL</executionNode>
        <runDurationNanos>0</runDurationNanos>
        <property>
          <name>bootstrap.servers</name>
          <value>localhost:9092</value>
        </property>
        <property>
          <name>security.protocol</name>
          <value>PLAINTEXT</value>
        </property>
        <property>
          <name>sasl.mechanism</name>
          <value>GSSAPI</value>
        </property>
        <property>
          <name>sasl.kerberos.service.name</name>
        </property>
        <property>
          <name>kerberos-credentials-service</name>
        </property>
        <property>
          <name>sasl.kerberos.principal</name>
        </property>
        <property>
          <name>sasl.kerberos.keytab</name>
        </property>
        <property>
          <name>sasl.username</name>
        </property>
        <property>
          <name>sasl.password</name>
        </property>
        <property>
          <name>sasl.token.auth</name>
          <value>false</value>
        </property>
        <property>
          <name>ssl.context.service</name>
        </property>
        <property>
          <name>topic</name>
          <value>tweetsSentiment</value>
        </property>
        <property>
          <name>topic_type</name>
          <value>names</value>
        </property>
        <property>
          <name>honor-transactions</name>
          <value>true</value>
        </property>
        <property>
          <name>group.id</name>
          <value>3</value>
        </property>
        <property>
          <name>auto.offset.reset</name>
          <value>latest</value>
        </property>
        <property>
          <name>key-attribute-encoding</name>
          <value>utf-8</value>
        </property>
        <property>
          <name>message-demarcator</name>
        </property>
        <property>
          <name>separate-by-key</name>
          <value>false</value>
        </property>
        <property>
          <name>message-header-encoding</name>
          <value>UTF-8</value>
        </property>
        <property>
          <name>header-name-regex</name>
        </property>
        <property>
          <name>max.poll.records</name>
          <value>10000</value>
        </property>
        <property>
          <name>max-uncommit-offset-wait</name>
          <value>1 secs</value>
        </property>
        <property>
          <name>Communications Timeout</name>
          <value>60 secs</value>
        </property>
      </processor>
      <processor>
        <id>c8d6b9f9-017d-1000-644a-13ca326616ff</id>
        <name>IfTweetsHaveSentimentAndTime</name>
        <position x="528.0" y="920.0"/>
        <styles/>
        <comment/>
        <class>org.apache.nifi.processors.standard.RouteOnAttribute</class>
        <bundle>
          <group>org.apache.nifi</group>
          <artifact>nifi-standard-nar</artifact>
          <version>1.14.0</version>
        </bundle>
        <maxConcurrentTasks>2</maxConcurrentTasks>
        <schedulingPeriod>1 sec</schedulingPeriod>
        <penalizationPeriod>30 sec</penalizationPeriod>
        <yieldPeriod>1 sec</yieldPeriod>
        <bulletinLevel>WARN</bulletinLevel>
        <lossTolerant>false</lossTolerant>
        <scheduledState>STOPPED</scheduledState>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <executionNode>ALL</executionNode>
        <runDurationNanos>0</runDurationNanos>
        <property>
          <name>Routing Strategy</name>
          <value>Route to 'match' if all match</value>
        </property>
        <property>
          <name>filterTweetAndLocation</name>
          <value>${twitter.unixtime:isEmpty():not():and(${twitter.sentiment:isEmpty():not()})}</value>
        </property>
        <autoTerminatedRelationship>unmatched</autoTerminatedRelationship>
      </processor>
      <processor>
        <id>c8d351b4-017d-1000-782f-b1869dd4d7cb</id>
        <name>PullKeyAttributes</name>
        <position x="528.0" y="408.0"/>
        <styles/>
        <comment/>
        <class>org.apache.nifi.processors.standard.EvaluateJsonPath</class>
        <bundle>
          <group>org.apache.nifi</group>
          <artifact>nifi-standard-nar</artifact>
          <version>1.14.0</version>
        </bundle>
        <maxConcurrentTasks>4</maxConcurrentTasks>
        <schedulingPeriod>1 sec</schedulingPeriod>
        <penalizationPeriod>30 sec</penalizationPeriod>
        <yieldPeriod>1 sec</yieldPeriod>
        <bulletinLevel>WARN</bulletinLevel>
        <lossTolerant>false</lossTolerant>
        <scheduledState>STOPPED</scheduledState>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <executionNode>ALL</executionNode>
        <runDurationNanos>0</runDurationNanos>
        <property>
          <name>Destination</name>
          <value>flowfile-attribute</value>
        </property>
        <property>
          <name>Return Type</name>
          <value>json</value>
        </property>
        <property>
          <name>Path Not Found Behavior</name>
          <value>ignore</value>
        </property>
        <property>
          <name>Null Value Representation</name>
          <value>empty string</value>
        </property>
        <property>
          <name>twitter.unixtime</name>
          <value>$.timestamp_ms</value>
        </property>
        <property>
          <name>twitter.user</name>
          <value>$.user.name</value>
        </property>
        <property>
          <name>twitter.sentiment</name>
          <value>$.sentiment</value>
        </property>
        <property>
          <name>twitter.msg</name>
          <value>$.text</value>
        </property>
        <property>
          <name>twitter.tweet_id</name>
          <value>$.id</value>
        </property>
        <property>
          <name>twitter.place</name>
          <value>$.place</value>
        </property>
        <property>
          <name>twitter.language</name>
          <value>$.lang</value>
        </property>
        <autoTerminatedRelationship>failure</autoTerminatedRelationship>
        <autoTerminatedRelationship>unmatched</autoTerminatedRelationship>
      </processor>
      <connection>
        <id>ecbbcc92-017d-1000-aeed-21939ab792a1</id>
        <name/>
        <bendPoints/>
        <labelIndex>1</labelIndex>
        <zIndex>0</zIndex>
        <sourceId>ecba5650-017d-1000-18ae-088ff9de9a7e</sourceId>
        <sourceGroupId>bf6eb294-017d-1000-3acd-d11226551441</sourceGroupId>
        <sourceType>PROCESSOR</sourceType>
        <destinationId>c8d6b9f9-017d-1000-644a-13ca326616ff</destinationId>
        <destinationGroupId>bf6eb294-017d-1000-3acd-d11226551441</destinationGroupId>
        <destinationType>PROCESSOR</destinationType>
        <relationship>success</relationship>
        <maxWorkQueueSize>10000</maxWorkQueueSize>
        <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
        <flowFileExpiration>0 sec</flowFileExpiration>
        <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
        <partitioningAttribute/>
        <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
      </connection>
      <connection>
        <id>d442a8fe-017d-1000-1cc6-7235f703b90f</id>
        <name/>
        <bendPoints/>
        <labelIndex>1</labelIndex>
        <zIndex>0</zIndex>
        <sourceId>d4411704-017d-1000-cf50-614bffd92e4d</sourceId>
        <sourceGroupId>bf6eb294-017d-1000-3acd-d11226551441</sourceGroupId>
        <sourceType>PROCESSOR</sourceType>
        <destinationId>c8d351b4-017d-1000-782f-b1869dd4d7cb</destinationId>
        <destinationGroupId>bf6eb294-017d-1000-3acd-d11226551441</destinationGroupId>
        <destinationType>PROCESSOR</destinationType>
        <relationship>success</relationship>
        <maxWorkQueueSize>10000</maxWorkQueueSize>
        <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
        <flowFileExpiration>0 sec</flowFileExpiration>
        <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
        <partitioningAttribute/>
        <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
      </connection>
      <connection>
        <id>c8d5297f-017d-1000-73c6-a8338597fec6</id>
        <name/>
        <bendPoints/>
        <labelIndex>1</labelIndex>
        <zIndex>0</zIndex>
        <sourceId>c8d351b4-017d-1000-782f-b1869dd4d7cb</sourceId>
        <sourceGroupId>bf6eb294-017d-1000-3acd-d11226551441</sourceGroupId>
        <sourceType>PROCESSOR</sourceType>
        <destinationId>ecba5650-017d-1000-18ae-088ff9de9a7e</destinationId>
        <destinationGroupId>bf6eb294-017d-1000-3acd-d11226551441</destinationGroupId>
        <destinationType>PROCESSOR</destinationType>
        <relationship>matched</relationship>
        <maxWorkQueueSize>10000</maxWorkQueueSize>
        <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
        <flowFileExpiration>0 sec</flowFileExpiration>
        <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
        <partitioningAttribute/>
        <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
      </connection>
      <connection>
        <id>c8dba44e-017d-1000-cc35-b40f9699f341</id>
        <name/>
        <bendPoints/>
        <labelIndex>1</labelIndex>
        <zIndex>0</zIndex>
        <sourceId>c8d6b9f9-017d-1000-644a-13ca326616ff</sourceId>
        <sourceGroupId>bf6eb294-017d-1000-3acd-d11226551441</sourceGroupId>
        <sourceType>PROCESSOR</sourceType>
        <destinationId>c8db6d4f-017d-1000-0dfb-afc64607fb4d</destinationId>
        <destinationGroupId>bf6eb294-017d-1000-3acd-d11226551441</destinationGroupId>
        <destinationType>PROCESSOR</destinationType>
        <relationship>matched</relationship>
        <maxWorkQueueSize>10000</maxWorkQueueSize>
        <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
        <flowFileExpiration>0 sec</flowFileExpiration>
        <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
        <partitioningAttribute/>
        <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
      </connection>
      <controllerService>
        <id>c8bc8eae-017d-1000-ef6e-05925047a9d7</id>
        <name>HBase_1_1_2_ClientService</name>
        <comment/>
        <class>org.apache.nifi.hbase.HBase_1_1_2_ClientService</class>
        <bundle>
          <group>org.apache.nifi</group>
          <artifact>nifi-hbase_1_1_2-client-service-nar</artifact>
          <version>1.14.0</version>
        </bundle>
        <enabled>true</enabled>
        <property>
          <name>Hadoop Configuration Files</name>
          <value>C:/twitter/hbase-2.2.5/conf/hbase-site.xml,C:/twitter/hadoop-3.1.0/etc/hadoop/core-site.xml</value>
        </property>
        <property>
          <name>kerberos-credentials-service</name>
        </property>
        <property>
          <name>Kerberos Principal</name>
        </property>
        <property>
          <name>Kerberos Keytab</name>
        </property>
        <property>
          <name>Kerberos Password</name>
        </property>
        <property>
          <name>ZooKeeper Quorum</name>
        </property>
        <property>
          <name>ZooKeeper Client Port</name>
        </property>
        <property>
          <name>ZooKeeper ZNode Parent</name>
        </property>
        <property>
          <name>HBase Client Retries</name>
          <value>1</value>
        </property>
        <property>
          <name>Phoenix Client JAR Location</name>
        </property>
      </controllerService>
    </processGroup>
    <processGroup>
      <id>baaa5112-017d-1000-f3d9-46cd6685531a</id>
      <name>AcquireTwitterData</name>
      <position x="312.0" y="-184.0"/>
      <comment/>
      <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
      <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
      <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
      <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
      <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
      <processor>
        <id>baab4f5c-017d-1000-b188-577f0f57b839</id>
        <name>GrabGardenHose</name>
        <position x="472.0" y="0.0"/>
        <styles/>
        <comment/>
        <class>org.apache.nifi.processors.twitter.GetTwitter</class>
        <bundle>
          <group>org.apache.nifi</group>
          <artifact>nifi-social-media-nar</artifact>
          <version>1.14.0</version>
        </bundle>
        <maxConcurrentTasks>1</maxConcurrentTasks>
        <schedulingPeriod>1 sec</schedulingPeriod>
        <penalizationPeriod>30 sec</penalizationPeriod>
        <yieldPeriod>1 sec</yieldPeriod>
        <bulletinLevel>WARN</bulletinLevel>
        <lossTolerant>false</lossTolerant>
        <scheduledState>STOPPED</scheduledState>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <executionNode>ALL</executionNode>
        <runDurationNanos>0</runDurationNanos>
        <property>
          <name>Twitter Endpoint</name>
          <value>Sample Endpoint</value>
        </property>
        <property>
          <name>max-client-error-retries</name>
          <value>5</value>
        </property>
        <property>
          <name>Consumer Key</name>
          <value>enc{ff689eca5ef7bc0a996b85feb5cf3d55a2494319468efd52191bf482d63051a220f169434cd764b072d4dfab496e1c2d370705320d1bb161de}</value>
        </property>
        <property>
          <name>Consumer Secret</name>
          <value>enc{34ee5dd220b9f42909e4fc21c2c20987063c4b637a9f341c33b945e6d0934f11c3da78eb699f8dc2d9cbe6a5ecab79aab0cf578ab33d5ca1f7cd398266e5b84451dfb4441d73c3c7ec8b8ad3fee84bbf8f14}</value>
        </property>
        <property>
          <name>Access Token</name>
          <value>enc{432c4ec13bddbc945eaa10c004a85454dc12bea0b515bce6b8145b0a12c6d8fccf041a137c1bc74160381de180058a76dc4234024eb169dbf740e3ee1bde1cc0ff22c5318a7cce732d6c08855884150822d8}</value>
        </property>
        <property>
          <name>Access Token Secret</name>
          <value>enc{8f2c0e7cc0cd91fd24464ff97ee635caceb8e3bf9a460f242e8d85f47296e3f3b9db0edd9a687a736204cdb636ba2d3039bd0a5dff4ac7dd70a3e0f5485bb487175499fa1d7566d1314dc3b2c2}</value>
        </property>
        <property>
          <name>Languages</name>
          <value>en</value>
        </property>
        <property>
          <name>Terms to Filter On</name>
        </property>
        <property>
          <name>IDs to Follow</name>
        </property>
        <property>
          <name>Locations to Filter On</name>
        </property>
      </processor>
      <processor>
        <id>babc8f88-017d-1000-2996-11cfa0d113a1</id>
        <name>FindOnlyTweets</name>
        <position x="472.0" y="464.0"/>
        <styles/>
        <comment/>
        <class>org.apache.nifi.processors.standard.RouteOnAttribute</class>
        <bundle>
          <group>org.apache.nifi</group>
          <artifact>nifi-standard-nar</artifact>
          <version>1.14.0</version>
        </bundle>
        <maxConcurrentTasks>2</maxConcurrentTasks>
        <schedulingPeriod>1 sec</schedulingPeriod>
        <penalizationPeriod>30 sec</penalizationPeriod>
        <yieldPeriod>1 sec</yieldPeriod>
        <bulletinLevel>WARN</bulletinLevel>
        <lossTolerant>false</lossTolerant>
        <scheduledState>STOPPED</scheduledState>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <executionNode>ALL</executionNode>
        <runDurationNanos>0</runDurationNanos>
        <property>
          <name>Routing Strategy</name>
          <value>Route to Property name</value>
        </property>
        <property>
          <name>filterTweetAndLocation</name>
          <value>${twitter.msg:isEmpty():not():and(${twitter.location:isEmpty():not()})}</value>
        </property>
        <autoTerminatedRelationship>unmatched</autoTerminatedRelationship>
      </processor>
      <processor>
        <id>bab7647c-017d-1000-6df3-174530a63188</id>
        <name>PullKeyAttributes</name>
        <position x="472.0" y="224.0"/>
        <styles/>
        <comment/>
        <class>org.apache.nifi.processors.standard.EvaluateJsonPath</class>
        <bundle>
          <group>org.apache.nifi</group>
          <artifact>nifi-standard-nar</artifact>
          <version>1.14.0</version>
        </bundle>
        <maxConcurrentTasks>4</maxConcurrentTasks>
        <schedulingPeriod>1 sec</schedulingPeriod>
        <penalizationPeriod>30 sec</penalizationPeriod>
        <yieldPeriod>1 sec</yieldPeriod>
        <bulletinLevel>WARN</bulletinLevel>
        <lossTolerant>false</lossTolerant>
        <scheduledState>STOPPED</scheduledState>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <executionNode>ALL</executionNode>
        <runDurationNanos>0</runDurationNanos>
        <property>
          <name>Destination</name>
          <value>flowfile-attribute</value>
        </property>
        <property>
          <name>Return Type</name>
          <value>json</value>
        </property>
        <property>
          <name>Path Not Found Behavior</name>
          <value>ignore</value>
        </property>
        <property>
          <name>Null Value Representation</name>
          <value>empty string</value>
        </property>
        <property>
          <name>twitter.handle</name>
          <value>$.user.screen_name</value>
        </property>
        <property>
          <name>twitter.geo</name>
          <value>$.geo</value>
        </property>
        <property>
          <name>twitter.coordinates</name>
          <value>$.coordinates</value>
        </property>
        <property>
          <name>twitter.user</name>
          <value>$.user.name</value>
        </property>
        <property>
          <name>twitter.tweet_id</name>
          <value>$.id</value>
        </property>
        <property>
          <name>twitter.place</name>
          <value>$.place</value>
        </property>
        <property>
          <name>twitter.hashtags</name>
          <value>$.entities.hashtags[0].text</value>
        </property>
        <property>
          <name>twitter.unixtime</name>
          <value>$.timestamp_ms</value>
        </property>
        <property>
          <name>twitter.msg</name>
          <value>$.text</value>
        </property>
        <property>
          <name>twitter.time</name>
          <value>$.created_at</value>
        </property>
        <property>
          <name>twitter.location</name>
          <value>$.user.location</value>
        </property>
        <property>
          <name>twitter.language</name>
          <value>$.lang</value>
        </property>
        <autoTerminatedRelationship>failure</autoTerminatedRelationship>
        <autoTerminatedRelationship>unmatched</autoTerminatedRelationship>
      </processor>
      <processor>
        <id>be5ff68f-017d-1000-da4a-8ee4baf2bfc4</id>
        <name>PublishKafka_2_0</name>
        <position x="472.0" y="696.0"/>
        <styles/>
        <comment/>
        <class>org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_0</class>
        <bundle>
          <group>org.apache.nifi</group>
          <artifact>nifi-kafka-2-0-nar</artifact>
          <version>1.14.0</version>
        </bundle>
        <maxConcurrentTasks>1</maxConcurrentTasks>
        <schedulingPeriod>1 sec</schedulingPeriod>
        <penalizationPeriod>30 sec</penalizationPeriod>
        <yieldPeriod>1 sec</yieldPeriod>
        <bulletinLevel>WARN</bulletinLevel>
        <lossTolerant>false</lossTolerant>
        <scheduledState>STOPPED</scheduledState>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <executionNode>ALL</executionNode>
        <runDurationNanos>0</runDurationNanos>
        <property>
          <name>bootstrap.servers</name>
          <value>localhost:9092</value>
        </property>
        <property>
          <name>security.protocol</name>
          <value>PLAINTEXT</value>
        </property>
        <property>
          <name>sasl.mechanism</name>
          <value>GSSAPI</value>
        </property>
        <property>
          <name>sasl.kerberos.service.name</name>
        </property>
        <property>
          <name>kerberos-credentials-service</name>
        </property>
        <property>
          <name>sasl.kerberos.principal</name>
        </property>
        <property>
          <name>sasl.kerberos.keytab</name>
        </property>
        <property>
          <name>sasl.username</name>
        </property>
        <property>
          <name>sasl.password</name>
        </property>
        <property>
          <name>sasl.token.auth</name>
          <value>false</value>
        </property>
        <property>
          <name>ssl.context.service</name>
        </property>
        <property>
          <name>topic</name>
          <value>tweets</value>
        </property>
        <property>
          <name>acks</name>
          <value>all</value>
        </property>
        <property>
          <name>Failure Strategy</name>
          <value>Route to Failure</value>
        </property>
        <property>
          <name>use-transactions</name>
          <value>true</value>
        </property>
        <property>
          <name>transactional-id-prefix</name>
        </property>
        <property>
          <name>attribute-name-regex</name>
        </property>
        <property>
          <name>message-header-encoding</name>
          <value>UTF-8</value>
        </property>
        <property>
          <name>kafka-key</name>
        </property>
        <property>
          <name>key-attribute-encoding</name>
          <value>utf-8</value>
        </property>
        <property>
          <name>message-demarcator</name>
        </property>
        <property>
          <name>max.request.size</name>
          <value>1 MB</value>
        </property>
        <property>
          <name>ack.wait.time</name>
          <value>5 secs</value>
        </property>
        <property>
          <name>max.block.ms</name>
          <value>5 sec</value>
        </property>
        <property>
          <name>partitioner.class</name>
          <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
        </property>
        <property>
          <name>partition</name>
        </property>
        <property>
          <name>compression.type</name>
          <value>none</value>
        </property>
        <autoTerminatedRelationship>success</autoTerminatedRelationship>
        <autoTerminatedRelationship>failure</autoTerminatedRelationship>
      </processor>
      <connection>
        <id>be60c8dd-017d-1000-f855-95604d8c1457</id>
        <name/>
        <bendPoints/>
        <labelIndex>1</labelIndex>
        <zIndex>0</zIndex>
        <sourceId>babc8f88-017d-1000-2996-11cfa0d113a1</sourceId>
        <sourceGroupId>baaa5112-017d-1000-f3d9-46cd6685531a</sourceGroupId>
        <sourceType>PROCESSOR</sourceType>
        <destinationId>be5ff68f-017d-1000-da4a-8ee4baf2bfc4</destinationId>
        <destinationGroupId>baaa5112-017d-1000-f3d9-46cd6685531a</destinationGroupId>
        <destinationType>PROCESSOR</destinationType>
        <relationship>filterTweetAndLocation</relationship>
        <maxWorkQueueSize>10000</maxWorkQueueSize>
        <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
        <flowFileExpiration>0 sec</flowFileExpiration>
        <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
        <partitioningAttribute/>
        <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
      </connection>
      <connection>
        <id>bab7f33c-017d-1000-cf31-e7af42a9160c</id>
        <name/>
        <bendPoints/>
        <labelIndex>1</labelIndex>
        <zIndex>0</zIndex>
        <sourceId>baab4f5c-017d-1000-b188-577f0f57b839</sourceId>
        <sourceGroupId>baaa5112-017d-1000-f3d9-46cd6685531a</sourceGroupId>
        <sourceType>PROCESSOR</sourceType>
        <destinationId>bab7647c-017d-1000-6df3-174530a63188</destinationId>
        <destinationGroupId>baaa5112-017d-1000-f3d9-46cd6685531a</destinationGroupId>
        <destinationType>PROCESSOR</destinationType>
        <relationship>success</relationship>
        <maxWorkQueueSize>10000</maxWorkQueueSize>
        <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
        <flowFileExpiration>0 sec</flowFileExpiration>
        <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
        <partitioningAttribute/>
        <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
      </connection>
      <connection>
        <id>babce164-017d-1000-f0a9-4d8374cc826d</id>
        <name/>
        <bendPoints/>
        <labelIndex>1</labelIndex>
        <zIndex>0</zIndex>
        <sourceId>bab7647c-017d-1000-6df3-174530a63188</sourceId>
        <sourceGroupId>baaa5112-017d-1000-f3d9-46cd6685531a</sourceGroupId>
        <sourceType>PROCESSOR</sourceType>
        <destinationId>babc8f88-017d-1000-2996-11cfa0d113a1</destinationId>
        <destinationGroupId>baaa5112-017d-1000-f3d9-46cd6685531a</destinationGroupId>
        <destinationType>PROCESSOR</destinationType>
        <relationship>matched</relationship>
        <maxWorkQueueSize>10000</maxWorkQueueSize>
        <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
        <flowFileExpiration>0 sec</flowFileExpiration>
        <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
        <partitioningAttribute/>
        <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
      </connection>
    </processGroup>
  </rootGroup>
  <controllerServices/>
  <reportingTasks/>
</flowController>
